*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f6fb;
    color:#333;
}

/* HEADER */
header{
    background:#0f172a;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
}

.logo{
    color:white;
    font-size:22px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:15px;
}

.nav-links a:hover{
    color:#38bdf8;
}

/* HOME */
.home{
    background:#1fa2a8;
    color:white;
    text-align:center;
    padding:70px 20px;
}

.profile-img{
    width:150px;
    height:150px;
    border-radius:50%;
    border:5px solid white;
    margin-bottom:15px;
}

.home h1{
    font-size:36px;
}

.objective-line{
    display:block;
    margin-top:10px;
    font-size:14px;
}

/* SECTIONS */
.section{
    padding:55px 80px;
    text-align:center;
}

.section h2{
    color:#1fa2a8;
    margin-bottom:25px;
}

/* BOX */
.box{
    background:white;
    padding:25px;
    max-width:850px;
    margin:auto;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/* SKILLS */
.skills button{
    background: linear-gradient(135deg, #7ec7e6, #56d3da);
    color: white;
    border: none;
    padding: 14px 26px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.skills button:hover{
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    background: linear-gradient(135deg, #1fa2a8, #38bdf8);
}


/* EDUCATION */
.edu-box{
    background:white;
    padding:22px;
    max-width:850px;
    margin:15px auto;
    border-left:5px solid #1fa2a8;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

/* PROJECTS */
.project{
    background:white;
    padding:30px;
    max-width:900px;
    margin:20px auto;
    border-left:6px solid #1fa2a8;
    box-shadow:0 10px 25px rgba(0,0,0,0.12);
}

/* CONTACT */
.icons a i{
    font-size: 38px;   /* size moti kari */
    margin: 0 15px;
}

/* LinkedIn icon */
.icons a .fa-linkedin{
    color: #0A66C2;
}

/* GitHub icon */
.icons a .fa-github{
    color: #000000;
}

/* Smooth hover */
.icons a:hover i{
    transform: scale(1.25);
    transition: 0.3s ease;
}



/* FOOTER */
footer{
    margin: 40px auto 0;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #38bdf8;
    font-size: 14px;
}
footer span{
    color: #38bdf8;
    font-weight: 600;
}
footer p{
    margin:0;
}
